@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="banner">
    <p>
        <a href="#" class="link">Menu</a>
    </p>
    <p>
        <a asp-page="/Privacy" class="link">Privacy</a>
    </p>
    <p>
        <a asp-page="/About" class="link">About</a>
    </p>
    <p style="padding-top: 70vh" />
</div>